<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-12 mb-5">
      <h1 class="text-center">What is this?</h1>
    </div>
    <div class="col-12 col-md-8">
      <p>
      This site is a traditional blog, you have articles and categories of
      articles, pretty standard. To start writing articles you have to
      signup first, after that you are ready to write your first article.

      Only admin users can create article categories, be aware of that.

      Please go ahead and write some articles! If you liked the app I'll
      appreciate a star in the
      [repository holding the code](https://github.com/santiago-rodrig/alpha-blog).
      Enjoy blogging!
      </p>
    </div>
  </div>
</div>

