<div class="container" id="home-container">
  <div class="row">
    <div class="col-12 col-md-7">
      <div class="jumbotron">
        <h1 class="display-4">Alpha Blog</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>
        It uses utility classes for typography and spacing to space content out within the larger container.
      </p>
        <%= link_to 'Signup!', signup_path, class: 'btn btn-primary btn-lg', role: 'button' %>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div id="people-image">
      </div>
      <p class="image-source">
      Photo by
      <a href="https://unsplash.com/@brookecagle?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">
        Brooke Cagle
      </a>
      on
      <a href="https://unsplash.com/s/photos/people?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">
        Unsplash
      </a>
      </p>
    </div>
  </div>
</div>

