<div class="container">
  <div class="row mt-4 mt-md-5">
    <%= render 'errors' %>
    <div class="col-12 col-md-5 align-self-center">
      <h1 class="text-center mb-4 mb-md-0">Editing article</h1>
    </div>
    <div class="col-12 col-md-7">
      <%= render 'form' %>
    </div>
  </div>
</div>
