<div class="container">
  <div class="row" id="articles-listing">
    <div class="col-12" id="articles-listing-heading">
      <h1 class="text-center">Listing all articles</h1>
    </div>
    <%= render @articles %>
  </div>
</div>
