@import 'bootstrap/dist/css/bootstrap';

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 300px;
}

#home-container {
  margin-top: 25px;
}

#people-image {
  background-image: image-url('people.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 375px;
}

.image-source {
  margin-top: 10px;
  color: #888;
}

#main-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}


#articles-listing {
  padding-top: 3rem;
}

#articles-listing-heading {
  margin-bottom: 10px;
}

.article {
  margin-top: 30px;
}

.field_with_errors {
  input,
  textarea {
    @extend .border;
    @extend .border-danger;
  }
}
