@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #222 !important;
}

.nav-link {
  color: #eee !important;
}

body {
  min-height: 100vh;
}

#logo {
  color: #eee;
  font-weight: 700;
  font-size: 1.5rem;
}

#home-container {
  margin-top: 25px;
}

#people-image {
  background-image: image-url('people.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 375px;
}

.image-source {
  margin-top: 10px;
  color: #888;
}

#main-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

