<div class="col-12 col-sm-10 col-md-6">
  <div class="card text-center shadow">
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to category.name, category %>
      </h4>
      <%= render_category_actions(category) %>
    </div>
    <div class="card-footer text-muted">
      <small>
        Created <%= time_ago_in_words(category.created_at) %> ago.
        Edited <%= time_ago_in_words(category.updated_at) %> ago.
      </small>
    </div>
  </div>
</div>

