<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 py-5">
      <h1 class="text-center">Editing category</h1>
    </div>
    <%= render 'shared/errors', obj: @category %>
    <%= render 'form' %>
  </div>
</div>

