<footer id="main-footer" class="py-4 bg-dark text-light">
  <div class="container text-center">
    <p>
      <%= link_to 'About', about_path %>
    </p>
    <p>
      <small>
        Copyright &copy;
        <%= link_to 'Santiago Rodriguez', 'https://santiagorodriguez.dev', target: '_blank', class: 'text-light' %>
      </small>
    </p>
  </div>
</footer>
